name: Windows EXE Oluşturucu

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v3

    - name: Python Kur
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Kütüphaneleri Yükle
      run: |
        pip install customtkinter playwright m3u8 pillow requests pyinstaller
        python -m playwright install chromium

    - name: FFmpeg İndir ve Ayarla (PowerShell)
      run: |
        # FFmpeg'i indir
        Invoke-WebRequest -Uri https://github.com/BtbN/FFmpeg-Builds/releases/download/latest/ffmpeg-master-latest-win64-gpl.zip -OutFile ffmpeg.zip
        
        # Zipi aç
        Expand-Archive ffmpeg.zip -DestinationPath .
        
        # İçindeki klasörün ismini otomatik bul (İsmi değişse bile bulur)
        $ffmpegDir = Get-ChildItem -Directory -Filter "ffmpeg-master-*" | Select-Object -First 1
        
        # Dosyayı ana dizine taşı
        Move-Item "$($ffmpegDir.FullName)\bin\ffmpeg.exe" .

    - name: EXE Oluştur
      run: |
        # PyInstaller ile EXE yap
        pyinstaller --noconfirm --onedir --windowed --name "KickStudioUltimate" --collect-all customtkinter main.py
        
        # FFmpeg'i programın yanına koy
        Copy-Item ffmpeg.exe dist\KickStudioUltimate\

    - name: Sonucu Yükle
      uses: actions/upload-artifact@v4
      with:
        name: KickStudioUltimate-Windows
        path: dist/KickStudioUltimate
